body {margin-top: 17px; background-color:lightgray;}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
.iconbar {
    display: show; /* Hide the icon bar on smaller screens */
}
}

.iconbar {
width: 100%;
background-color: maroon;
overflow: auto;
margin-top:650px;
}

.iconbar a {
float: left;
width: 20%;
text-align: center;
padding: 12px 0;
transition: all 0.3s ease;
color: white;
font-size: 25px;
}
.container {
display: flex;
}
.radio-container {
  border: 2px solid white; /* Border style */
  background-color:white;
  padding: 10px; /* Padding to create space between the border and content */
  border-radius: 10px;;
  width:350px;
  box-shadow: 0 15px 4px rgba(0, 0, 0, 0.1); /* Add box-shadow */
}
.radio{
  border: 2px solid white; /* Border style */
  background-color:white;
  padding: 21px; /* Padding to create space between the border and content */
  border-radius: 10px;;
  width:350px;
  height:125px;
}
.h2{
  margin-top:500px;
}
.fa-dot-circle{ 
  font-size: 15px; /* Adjust size as needed */
  text-decoration: none; /* Remove underline */
  color: blue; /* Set color */
  display: inline-block; /* Display as inline block */
  margin-right:5px;
}

.icon-bar {
    width: 100%;
    background-color: maroon;
    overflow: auto;
    }
    
    .icon-bar a {
    float: left;
    width: 20%;
    height: 70px;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 25px;
    }